<!DOCTYPE html>
<html>

<head>
	<style>
	body
	{
		background-image:url({{url_for('static',filename='img/2.png')}})
	}
	span 
	{
  background-color: #000000;
     }
	</style>
	<title>Home</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

	<header>
		<div class="container">
		
		<div id="brandname"> <center><h1 style="color:white;">
			<span>PRODUCT RECOMMENDATION<span></h1></center>
		</div><br><br>		
	</div>
	</header>

	<div class="ml-container">

		<form action="{{ url_for('predict')}}" method="POST">
		<br><br>
		<center><h1 style="color:white;"><span>Enter the Products</span></h1>
		<textarea name="message" rows="2" cols="10"></textarea></center>
		<br/>

		<center><input type="submit" class="btn-info" value="RECOMMEND"></center>
		
	</form>
		
	</div>
<style>
	

</style>

</body>
</html>
